/* WHO ARE WE */

body {
  background-color: white;
}

.who-we-are-title {
  font: normal normal normal 50px/1.2em oswald-medium, oswald, sans-serif;
  font-weight: 900;
  color: rgb(28 34 148);
  letter-spacing: 0;
  text-align: center;
  padding-top: 170px;
}

.article-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.article {
  width: auto;
  padding: 50px;
  box-sizing: border-box;
  background-color: transparent;
}

.article-title {
  padding-top: 10px;
  padding-left: 10px;
  margin: 0%;
  border: 0;
  color: #324158;
  text-align: left;
  font: bold normal normal 22px/1.38em oswald-medium, oswald, sans-serif;
}

#first-article-title-color {
  color: #1c2294;
}

.article-paragraph {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #1c2294;
  line-height: 1.5em;
}

.article-color {
  background-color: rgb(219 219 219);
}

/* CONTACT US */

.form-color {
  background-color: rgb(40 89 182);
}

.form-title-design {
  color: white;
  padding: 15px;
  font: bold normal normal 35px/1.35em oswald-medium, oswald, sans-serif;
}

.labels-style {
  font: normal normal normal 14px/1.4em sans-serif;
  color: white;
  padding-left: 5px;
}

.fields-style {
  background-color: #c6c8e4;
  width: 80%;
  margin: 5px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(40 89 182);
}

.message-field {
  background-color: #c6c8e4;
  width: 80%;
  margin: 5px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid rgb(40 89 182);
}

.button-design {
  width: 167px;
  height: 36px;
  margin: 20px;
  color: rgb(40 89 182);
  border-radius: 10px;
  border: 2px solid rgb(40 89 182);
}

.contact-container {
  overflow: hidden;
}

.contact-form {
  float: left;
  padding: 10px;
  width: 60%;
}

.map-container {
  float: left;
  width: 20%;
}

#boxes-container {
  margin: auto;
  height: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.boxes-container-boxes {
  margin: 1em;
  width: 10em;
  height: 1.4em;
  border: none;
  background-color: transparent;
  color: #3434a5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: baseline;
  line-height: 1.4em;
}

.boxes-container-boxes-h1 {
  font-size: 80px;
  margin-bottom: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 5px;
}

.pre-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: 75%;
  height: 75vh;
  padding-top: 20px;
}

.form {
  position: absolute;
  padding: 10%;
  text-align: left;
  width: 80%;
}

.group {
  margin-bottom: 10px;
  width: 49%;
  font-family: Arial, Helvetica, sans-serif;
  color: #343492;
}

.control {
  width: 100%;
  padding: 6px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid;
  border-radius: 0;
  transition: all 2s;
}

.control:focus {
  outline: none;
  border-bottom-color: #343492;
}

.btn {
  display: block;
  width: auto;
  padding: 13px;
  border-radius: 0%;
  cursor: pointer !important;
  font-size: 20px;
  color: #343492;
}

.m20 {
  margin-bottom: auto;
}

.heading {
  font-size: 38px;
  letter-spacing: normal;
  font-weight: 100;
}
