body {
  background-color: white;
}

.who-we-are-title {
  font: normal normal normal 50px/1.2em oswald-medium, oswald, sans-serif;
  font-weight: 900;
  color: rgb(28 34 148);
  letter-spacing: 0;
  text-align: center;
}

.article-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.article {
  width: auto;
  padding: 50px;
  box-sizing: border-box;
  background-color: transparent;
}

.article-title {
  padding-top: 10px;
  padding-left: 10px;
  margin: 0%;
  border: 0;
  color: #324158;
  text-align: left;
  font: bold normal normal 22px/1.38em oswald-medium, oswald, sans-serif;
}

#first-article-title-color {
  color: #1c2294;
}

.article-paragraph {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #1c2294;
  line-height: 1.5em;
}

.article-color {
  background-color: rgb(219 219 219);
}

/* CONTACT US */

.form-color {
  background-color: rgb(40 89 182);
}

.form-title-design {
  color: white;
  padding: 15px;
  font: bold normal normal 35px/1.35em oswald-medium, oswald, sans-serif;
}

.labels-style {
  font: normal normal normal 14px/1.4em sans-serif;
  color: white;
  padding-left: 5px;
}

.fields-style {
  background-color: #c6c8e4;
  width: 80%;
  margin: 5px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(40 89 182);
}

.message-field {
  background-color: #c6c8e4;
  width: 80%;
  margin: 5px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid rgb(40 89 182);
}

.button-design {
  width: 167px;
  height: 36px;
  margin: 20px;
  color: rgb(40 89 182);
  border-radius: 10px;
  border: 2px solid rgb(40 89 182);
}

.contact-container {
  overflow: hidden;
}

.contact-form {
  float: left;
  width: 60%;
  padding: 10px;
}

.map-container {
  float: left;
  width: 20%;
}
