body {
  background-color: white;
}

.who-we-are-title {
  font: normal normal normal 50px/1.2em oswald-medium, oswald, sans-serif;
  font-weight: 900;
  color: rgb(28 34 148);
  letter-spacing: 0;
  text-align: center;
}

.article-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.article {
  width: auto;
  padding: 50px;
  box-sizing: border-box;
  background-color: transparent;
}

.article-title {
  padding-top: 10px;
  padding-left: 10px;
  margin: 0%;
  border: 0;
  color: #324158;
  text-align: left;
  font: bold normal normal 22px/1.38em oswald-medium, oswald, sans-serif;
}

#first-article-title-color {
  color: #1c2294;
}

.article-paragraph {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #1c2294;
  line-height: 1.5em;
}

.article-color {
  background-color: rgb(219 219 219);
}
